<div class="container-fluid" id="mainContainer">
	<div class="row">
		<div class="col-sm-2">
			
		</div>
        <div class="musicContent col-sm-8 text-center">
        	<br>
        	<h4>Events:</h4>
        	<p>In non sagittis urna, et consectetur dui. Fusce sodales faucibus nisl non auctor. Donec nisi ipsum, interdum vitae rutrum eu, vehicula vel est. Curabitur hendrerit nisl vitae lacus feugiat facilisis. Aenean pulvinar laoreet enim nec vestibulum. Ut in lorem ligula. Integer enim nisl, blandit vehicula mattis eu, finibus eget odio. Mauris id eleifend quam. Duis ut est sem. Sed laoreet, arcu a malesuada venenatis, arcu quam interdum massa, tempor laoreet turpis arcu sed orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis maximus nisl efficitur augue pulvinar, eu pharetra magna lobortis. Nullam suscipit nulla velit, sed commodo diam condimentum non. Donec posuere tempus lacus, non consequat leo vehicula a.</p>
        	<p>Praesent sit amet nulla vel neque rhoncus accumsan et molestie augue. Etiam iaculis mi non fringilla consectetur. Vestibulum auctor a est eget convallis. Nunc id ultricies lectus. Etiam vel mauris purus. Nulla semper vitae est dignissim elementum. Duis quis pellentesque mauris. In feugiat vulputate interdum. Donec luctus lacinia erat, et laoreet dolor consequat vitae. Proin vitae felis felis.</p>
        	<p>Cras eget orci fringilla, euismod quam a, rutrum mauris. Donec pellentesque id sem et blandit. Ut ante massa, tincidunt quis lectus ac, aliquet fermentum turpis. Etiam lacinia pretium purus, a interdum massa vehicula ut. Ut suscipit laoreet purus ut viverra. Aenean vitae sapien eget neque interdum aliquet quis et quam. Fusce et risus ultrices, scelerisque quam nec, tristique augue.</p>
            <p>Praesent sit amet nulla vel neque rhoncus accumsan et molestie augue. Etiam iaculis mi non fringilla consectetur. Vestibulum auctor a est eget convallis. Nunc id ultricies lectus. Etiam vel mauris purus. Nulla semper vitae est dignissim elementum. Duis quis pellentesque mauris. In feugiat vulputate interdum. Donec luctus lacinia erat, et laoreet dolor consequat vitae. Proin vitae felis felis.</p>
            <p>Cras eget orci fringilla, euismod quam a, rutrum mauris. Donec pellentesque id sem et blandit. Ut ante massa, tincidunt quis lectus ac, aliquet fermentum turpis. Etiam lacinia pretium purus, a interdum massa vehicula ut. Ut suscipit laoreet purus ut viverra. Aenean vitae sapien eget neque interdum aliquet quis et quam. Fusce et risus ultrices, scelerisque quam nec, tristique augue.</p>
        </div>
		<div class="col-sm-2">
			
		</div>
    </div>
</div>