<style type="text/css">

</style>

<div class="container-fluid" id="mainContainer">
  <div class="row">

    <div class="content-div col-md-9 text-center">

      <% @articles.each_with_index do |art, i| %>
        
        <div class="article">
          <h5><%= link_to art.title, articles_show_path(id: art.id), class: "gray-link" %></h5>
          <p>"<%= art.description %>"</p>
          <!-- <br> -->
          <!-- <img src="assets/<%= @images[i] %>.jpg" class="img-responsive"> -->
          <!-- <br> -->
        </div>

      <% end %>

    </div>

    <div id="sidebar" class="col-md-3">
      <div id="sidebar_innerdiv">
        <h5 style="font-weight: bold">Upcoming Events</h5>
        <ul>
          <li class="biglist">Blues Show</li>
            <ul>
              <li class="tinylist">Location: U Street Music Hall</li>
              <li class="tinylist">Date: Aug 25, 1991</li>
            </ul>
          <li class="biglist">Album Release Event</li>
            <ul>
              <li class="tinylist">Location: Flash</li>
              <li class="tinylist">Date: July 15, 2017</li>
            </ul>
          <li class="biglist">Rock Concert</li>
            <ul>
              <li class="tinylist">Location: Merriweather Post</li>
              <li class="tinylist">Date: Sept 12, 2017</li>
            </ul>
          <li class="biglist">Hip-Hop Event</li>
            <ul>
              <li class="tinylist">Location: 9:30 Club</li>
              <li class="tinylist">Date: Nov 7, 2017</li>
            </ul>
          <li class="biglist">EDM Concert</li>
            <ul>
              <li class="tinylist">Location: Merriweather Post</li>
              <li class="tinylist">Date: Nov 28, 2017</li>
            </ul>
          <li class="biglist">Blues Show</li>
            <ul>
              <li class="tinylist">Location: U Street Music Hall</li>
              <li class="tinylist">Date: Aug 25, 1991</li>
            </ul>
          <li class="biglist">Album Release Event</li>
            <ul>
              <li class="tinylist">Location: Flash</li>
              <li class="tinylist">Date: July 15, 2017</li>
            </ul>
          <li class="biglist">Rock Concert</li>
            <ul>
              <li class="tinylist">Location: Merriweather Post</li>
              <li class="tinylist">Date: Sept 12, 2017</li>
            </ul>
          <li class="biglist">Hip-Hop Event</li>
            <ul>
              <li class="tinylist">Location: 9:30 Club</li>
              <li class="tinylist">Date: Nov 7, 2017</li>
            </ul>
          <li class="biglist">EDM Concert</li>
            <ul>
              <li class="tinylist">Location: Merriweather Post</li>
              <li class="tinylist">Date: Nov 28, 2017</li>
            </ul>
          <li class="biglist">Blues Show</li>
            <ul>
              <li class="tinylist">Location: U Street Music Hall</li>
              <li class="tinylist">Date: Aug 25, 1991</li>
            </ul>
          <li class="biglist">Album Release Event</li>
            <ul>
              <li class="tinylist">Location: Flash</li>
              <li class="tinylist">Date: July 15, 2017</li>
            </ul>
          <li class="biglist">Rock Concert</li>
            <ul>
              <li class="tinylist">Location: Merriweather Post</li>
              <li class="tinylist">Date: Sept 12, 2017</li>
            </ul>
          <li class="biglist">Hip-Hop Event</li>
            <ul>
              <li class="tinylist">Location: 9:30 Club</li>
              <li class="tinylist">Date: Nov 7, 2017</li>
            </ul>
          <li class="biglist">EDM Concert</li>
            <ul>
              <li class="tinylist">Location: Merriweather Post</li>
              <li class="tinylist">Date: Nov 28, 2017</li>
            </ul>
        </ul>
      </div>
    </div>

  </div>
</div>