<div class="container-fluid header">

  <a href="/">
  <img class="logo" src="assets/logo_black.png" alt="Logo">
    
  </a>

  <div style="padding-top: 10px">
    <h5>A Sample Site By: John W. Schmid<h5>
    <h5>
      Github: <a href="https://github.com/johnwschmid" target="_blank">https://github.com/johnwschmid</a>
      <br>
      LinkedIn: <a href="https://www.linkedin.com/in/john-w-schmid/" target="_blank">https://www.linkedin.com/in/john-w-schmid/</a>
    </h5>
  </div>

  <a href="" class="btn btn-sm btn-danger float-right login_btn">Log In</a>

</div>

<nav class="navbar navbar-expand-lg jiggy_navbar">
  <div class="container-fluid text-center">
    <ul class="nav navbar-nav custom_ul">
      <li class="custom_li">
        <% if controller.controller_name == 'pages' && params[:action] == 'music' %>
          <a href="/"><span style="font-size: 20px">Home</span></a>
        <% else %>
          <a href="music">Music</a>
        <% end %>
      </li>
      <li class="custom_li">
        <% if controller.controller_name == 'pages' && params[:action] == 'events' %>
          <a href="/"><span style="font-size: 20px">Home</span></a>
        <% else %>
          <a href="events">Events</a>
        <% end %>
      </li>
      <li class="custom_li">
        <% if controller.controller_name == 'pages' && params[:action] == 'dev' %>
          <a href="/"><span style="font-size: 20px">Home</span></a>
        <% else %>
          <a href="dev">Developer Info</a>
        <% end %>
      </li>
    </ul>
  </div>
</nav>